*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    border: 2px solid red;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
}

.main{
    /* border: 2px solid yellow; */
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
}

.my-canvas{
    border: 2px solid black;
    /* height: 100%; */
    /* width: 100%; */
}

.footer{
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
}
